<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<title>pcfsearch</title>
<style>

.hbox {
    display: flex;
    align-items: stretch;
}

.vbox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.window {
    display: flex;
    flex-direction: column;
    margin: 1px;
}

.titlebar {
    display: flex;
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    cursor: default;
}

.title {
    flex-grow: 1;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    background: blue;
    overflow: auto;
}

.canvas {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    background: white;
    overflow: auto;
}

.table {
    align-self: center;
    max-width: 90%;
}

.thead {
    overflow-x: hidden;
    overflow-y: scroll;
}

.tbody {
    max-height: 200px;
    overflow-x: auto;
    overflow-y: scroll;
}

.tr {
    display: flex;
}

.th {
    padding: 5px 2px;
    margin: 1px;
    background: gray;
    cursor: default;
    text-align: center;
    font-weight: bold;
}

.td {
    padding: 2px;
    margin: 1px;
    background: white;
    cursor: pointer;
    line-height: 1.2em;
    min-height: 1.2em;
}

.tr.selected .td {
    background: yellow;
}

.tr.buffer .td {
    background: green;
}

.col-100 {
    width: 100px;
    min-width: 100px;
}

.col-150 {
    width: 150px;
    min-width: 150px;
}

table.scroll {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-height: 100%;
}

table.scroll thead {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid black;
    overflow-x: hidden;
    margin-right: 16px;
}

table.scroll tbody {
    display:flex;
    width: 300px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
    overflow-x: scroll;
    overflow-y: scroll;
    border: 1px solid black;
}

ul#dropdown_list {
    list-style-type: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
    position: absolute;
    display: none;
    z-index: 1;
    background: white;
    margin: 0;
    padding: 0;
    max-height: 50vh;
    overflow: auto;
}

ul#dropdown_list li {
    padding: 6px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    cursor: default;
    font-family: serif;
    font-size: 16px;
    width: 14em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul#dropdown_list li:hover {
    background: blue;
}


#dropdown:hover ul#dropdown_list {
    display: block;
}

a {
    text-decoration: none;
    color: white;
    padding: 6px;
    cursor: default;
}

a:hover,a.selected {
    background: gray;
}

button#dropdown_header {
    background: black;
    border: 0px;
    padding: 6px 6px 5px;
    color: white;
    font-family: serif;
    font-size: 16px;
    width:14em;
    margin-right: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button.icon {
    padding: 0px 2px;
    border-radius: 2px 2px 2px 2px;
    background: black;
    color: white;
    cursor: pointer;
    border: 1px solid white;
}

button.icon:hover {
    background: gray;
}

button.option {
    padding: 4px 6px;
    border-radius: 3px 3px 3px 3px;
    font-family: Ubuntu;
    font-size: 14px;
    border: 1px outset #aaaaaa;
    color: black;
    cursor: inherit;
}

button.option.def {
    padding: 1px 2px;
    background: linear-gradient(to top,yellow,white);
    color: red;
}

button.option.all {
    padding: 1px 2px;
    background: linear-gradient(to top,yellow,white);
}

button.option.some {
    padding: 1px 2px;
    background: linear-gradient(to top,cyan,white);
}

button.option.none {
    padding: 1px 2px;
    background: linear-gradient(to top,rgb(0,210,210),rgb(210,210,210));
    color: gray;
}

button.option.attribute:hover, button.option.role:hover {
    border: 1px solid black;
}

summary {
    background: linear-gradient(to top,cyan,gray);
}

circle,rect {
    fill: white;
    stroke: black;
}

rect.marked {
    fill: yellow;
    stroke: black;
}

rect:hover {
    stroke: red;
}

text {
    pointer-events: none;
}

.table_box_content {
    background: #00008B;
}

.table_box_content.proto {
    background: green;
}

.options {
    display: flex;
    flex-wrap: wrap;
}

.label {
    font-family: Ubuntu;
    font-size: 14px;
}
</style>

<script src="/latest/script/jquery-3.2.0.min.js"></script>
<script src="/latest/script/nunjucks-3.0.1.min.js"></script>

<script id="result_template" type="x-nunjucks-template">
<div id="resultTable" class="table">
    <div class="thead">
        <div class="tr">
            {% for column in header %}
            <div class="th" style="min-width:{{column.width}};max-width:{{column.width}};">{{column.name}}</div>
            {% endfor %}
        </div>
    </div>
    <div class="tbody" onscroll="$(this).siblings('.thead').get()[0].scrollLeft = this.scrollLeft;">
        {% for item in items %}
        <div class="tr">
            {% for column in header %}
            <div class="td" style="min-width:{{column.width}};max-width:{{column.width}};">{{item[column.field]}}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
</script>

<script id="table_template" type="x-nunjucks-template">
<div class="titlebar">
    <div class="title">{{title}}</div>
</div>
<div class="content">
    <div class="table">
        <div class="thead">
            <div class="tr">
                {% for column in header %}
                <div class="th" style="min-width:{{column.width}};max-width:{{column.width}};">{{column.name}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="tbody" onscroll="$(this).siblings('.thead').get()[0].scrollLeft = this.scrollLeft;">
            {% for item in items %}
            {% if item.id === proto.id %}
            <div class="tr buffer" data-id="{{proto.id}}">
                {% for column in header %}
                <div class="td" contenteditable="true" style="min-width:{{column.width}};max-width:{{column.width}};">{{proto[column.field]}}</div>
                {% endfor %}
            </div>
            {% else %}
            <div class="tr{% if item.id === select_id %} selected{% endif %}"{% if row_action %} onclick="{{row_action}}('{{item.id}}');"{% endif %}>
                {% for column in header %}
                <div class="td" style="min-width:{{column.width}};max-width:{{column.width}};">{{item[column.field]}}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
            {% if proto and proto.id === "" %}
            <div class="tr buffer"{% if row_action %} onclick="{{row_action}}('{{proto.id}}');"{% endif %}>
                {% for column in header %}
                <div class="td" contenteditable="true" style="min-width:{{column.width}};max-width:{{column.width}};">{{proto[column.field]}}</div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div style="text-align:center;padding-top:10px;">
        {% for action in actions %}
        <button style="cursor:pointer;" onclick="{{action.name}}();">{{action.text}}</button>
        {% endfor %}
    </div>
</div>
</script>
<script id="table_box" type="x-nunjucks-template">
<div class="table_box" style="display:flex;flex-direction:column;padding:2px;">
  <div class="titlebar">
    <div style="flex-basis:20%;"></div>
    <div class="title">{{title}}</div>
    <div style="flex-basis:20%;text-align:right;">
      {% if not edit_mode %}
      <button class="icon" onclick="delete_bound_scale('{{id}}');">x</button>
      {% endif %}
    </div>
  </div>
  <div class="table_box_content{% if edit_mode %} proto{% endif %}">
    <div class="table" style="margin:5px;">
      <div class="thead">
        <div class="tr">
        {% for column in header %}
          <div class="th" style="min-width:{{column.width}};max-width:{{column.width}};">{{column.name}}</div>
        {% endfor %}
        </div>
      </div>
      <div class="tbody" onscroll="function(){$(this).siblings('.thead').get()[0].scrollLeft = this.scrollLeft;}">
        {% for arg in args %}
        <div class="tr">
          {% for column in header %}
          <div class="td" style="min-width:{{column.width}};max-width:{{column.width}};">{{arg[loop.index0]}}</div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</script>
<script id="dropdown_template" type="x-nunjucks-template">
<div id="dropdown">
  <button id="dropdown_header">{{choice}} &#x25bc;</button>
  <ul id="dropdown_list">
    {% for cf in items %}
    <li onclick="select_binding('{{cf.id}}');">{{cf.name}}</li>
    {% endfor %}
  </ul>
</div>
</script>
<script id="options_template" type="x-nunjucks-template">
<div id="sortsView">
    <details open>
        <summary>Sorts</summary>
        <div class="options">
            {% for sort in sorts %}
            <button class="option sort" onclick="create_node('{{sort.id}}');">{{sort.name}}</button>
            {% endfor %}
        </div>
    </details>
</div>
</script>
<script id="options_template2" type="x-nunjucks-template">
<div id="optionsView">
    {% for name,node in nodes %}
    <details class="nodeContext" open>
        <summary>{{name}}</summary>
        {% for prefix,options in node %}
            <div class="options">
                <span class="label" style="padding:5px;">{{ prefix }}:</span>
                {% for opt in options %}
                    {% if opt.pos %}
                    <button class="role option {{opt.grp}}" onclick="create_rnode('{{name}}','{{prefix}}:{{opt.name}}','{{opt.pos}}','{{opt.sort}}');"
                    >{{ opt.name }}[{{ opt.pos }}]</button>
                    {% else %}
                    <button class="attribute option {{opt.grp}}" onclick="toggle_attribute('{{name}}','{{prefix}}:{{opt.name}}','{{opt.grp}}');"
                    >{{opt.name}}</button>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </details>
    {% endfor %}
    <details class="nodeContext" open>
        <summary>Equalities</summary>
        <div class="options">
            {% for eq in equalities %}
            <button class="equality option {{eq.grp}}" onclick="toggle_coreference('{{eq.lhs}}','{{eq.rhs}}','{{eq.grp}}')">{{eq.lhs}}={{eq.rhs}}</button>
            {% endfor %}
        </div>
    </details>
</div>
</script>
<script id="options_template3" type="x-nunjucks-template">
<div id="optionsView">
    {% for name,node in nodes %}
    <h3 class="nodeContext" style="background:gray;">{{name}}</h3>
        {% for prefix,options in node %}
            <div class="options">
                <div style="padding:5px;" class="label">{{ prefix }}:</div>
                {% for opt in options %}
                    {% if opt.pos %}
                    <button class="role option {{opt.grp}}" style="padding:5px;" onclick="create_rnode('{{name}}','{{prefix}}:{{opt.name}}','{{opt.pos}}','{{opt.sort}}');"
                    >{{ opt.name }}[{{ opt.pos }}]</button>
                    {% else %}
                    <button class="attribute option {{opt.grp}}" style="padding:5px;" onclick="toggle_attribute('{{name}}','{{prefix}}:{{opt.name}}','{{opt.grp}}');"
                    >{{opt.name}}</button>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </details>
    {% endfor %}
        <h3 class="nodeContext" style="background:white;">Equalities</h3>
        <div class="options">
            {% for eq in equalities %}
            <button class="equality option {{eq.grp}}" style="padding:5px;" onclick="toggle_coreference('{{eq.lhs}}','{{eq.rhs}}','{{eq.grp}}')">{{eq.lhs}}={{eq.rhs}}</button>
            {% endfor %}
        </div>
</div>
</script>
<script>

scrollbar_width = 16;
queue = [];

function abspath(url) {

    if(!url.endsWith("/")) {
        url += "/";
    }

    if(url.startsWith("/")) {
        return url;
    }

    current_url = window.location.pathname;
    if(!current_url.endsWith("/")) {
        current_url += "/";
    }

    return current_url + url
}

// scrollbar function from www.alexandre-gomes.com
function getScrollBarWidth () {
  var inner = document.createElement('p');
  inner.style.width = "100%";
  inner.style.height = "200px";

  var outer = document.createElement('div');
  outer.style.position = "absolute";
  outer.style.top = "0px";
  outer.style.left = "0px";
  outer.style.visibility = "hidden";
  outer.style.width = "200px";
  outer.style.height = "150px";
  outer.style.overflow = "hidden";
  outer.appendChild (inner);

  document.body.appendChild (outer);
  var w1 = inner.offsetWidth;
  outer.style.overflow = 'scroll';
  var w2 = inner.offsetWidth;
  if (w1 == w2) w2 = outer.clientWidth;

  document.body.removeChild (outer);

  return (w1 - w2);
};

function Point(x,y) {
    this.x = x;
    this.y = y;
}

function Node(sort) {
    this.sort = sort;
    this.def = {};
    this.marked = false;
    this.corefs = {};
    this.point = null;
}

function Graph() {
    this.nodes = {};
    this.ax = 10;
    this.ay = 10;
    this.radius = Math.sqrt(4*(this.ax)*(this.ay)/Math.PI); // give circle same area as rectangle for better looks
}

Graph.prototype = {
    add_node: function(sort) {
        var nodeId = this.next_id(sort);
        this.nodes[nodeId] = new Node(sort);
        return nodeId;
    },

    add_rnode: function(nodeIds,m) {
        var relId = nodeIds.join("#");
        var sort = nodeIds.map(function(nodeId){ return this.nodes[nodeId].sort },this).join("#");

        var rnode = new Node(sort);
        this.nodes[relId] = rnode;
        this.add_attribute(relId,m);

        return relId;
    },

    remove_rnode: function(nodeId) {
        delete this.nodes[nodeId];
        this.cleanup();
    },

    add_attribute: function(nodeId,m) {
        var prefix = m.split(":")[0];
        var name = m.split(":")[1];
        var def = this.nodes[nodeId].def;

        if(!(prefix in def)) {
            def[prefix] = {};
        }

        def[prefix][name] = null;
    },

    remove_attribute: function(nodeId,m) {
        var prefix = m.split(":")[0];
        var name = m.split(":")[1];
        var def = this.nodes[nodeId].def;

        delete def[prefix][name];
        if(Object.keys(def[prefix]).length == 0) {
            delete def[prefix];
        }

        if(this.is_rnode(nodeId) && Object.keys(def).length == 0) {
            this.remove_rnode(nodeId);
        }
    },

    set_mark: function(nodeId,marked) {
        this.nodes[nodeId].marked = marked;
        if(!marked) { this.cleanup(); }
    },

    add_coreference: function(nodeId1,nodeId2) {
        this.nodes[nodeId1].corefs[nodeId2] = true;
        this.nodes[nodeId2].corefs[nodeId1] = true;
    },

    remove_coreference: function(nodeId1,nodeId2) {
        delete this.nodes[nodeId1].corefs[nodeId2];
        delete this.nodes[nodeId2].corefs[nodeId1];
        this.cleanup();
    },

    set_pos: function(nodeId,x,y) {
        var node = this.nodes[nodeId];
        node.point = new Point(x,y);
    },

    set_apos: function(nodeId,m,x,y) {
        var prefix = m.split(":")[0];
        var name = m.split(":")[1];
        var def = this.nodes[nodeId].def;
        def[prefix][name] = new Point(x,y);
    },

    next_id: function(sort) {
        if( !(sort in this.nodes) ) {
            return sort;
        }
        var i=2;
        while(true) {
            var id = sort + i;
            if( !(id in this.nodes) ) {
                return id;
            }
            i += 1;
        }
    },

    is_rnode: function(nodeId) {
        return typeof(nodeId)==="string" && nodeId.includes("#");
    },

    is_marked: function(nodeId) {
        return this.nodes[nodeId].marked;
    },

    cleanup: function() {
        var rep = {};
        var rnodes = [];

        for(var nodeId in this.nodes) {
            if(this.is_rnode(nodeId)) {
                rnodes.push(nodeId);
            } else {
                rep[nodeId] = nodeId;
            }
        }

        for(var nodeId in this.nodes) {
            if(!(this.is_rnode(nodeId))) {
                var node = this.nodes[nodeId];
                var eq_reps = $.map(Object.keys(node.corefs),function(n) { return rep[n] });
                eq_reps.push(rep[nodeId]);
                var chosen_rep = eq_reps[0];
                for(var j=1; j<eq_reps.length; ++j) {
                    if(eq_reps[j] < chosen_rep) {
                        chosen_rep = eq_reps[j];
                    }
                }
                for(var otherId in rep) {
                    if($.inArray(rep[otherId],eq_reps) != -1) {
                        rep[otherId] = chosen_rep;
                    }
                }
            }
        }

        for(var i=0; i<rnodes.length; ++i) {
            var rkey = rnodes[i];
            var eq_reps = $.map(rkey.split("#"),function(nodeId){ return rep[nodeId] });
            var chosen_rep = eq_reps[0];
            for(var j=1; j<eq_reps.length; ++j) {
                if(eq_reps[j] < chosen_rep) {
                    chosen_rep = eq_reps[j];
                }
            }
            for(var nodeId in rep) {
                if($.inArray(rep[nodeId],eq_reps) != -1) {
                    rep[nodeId] = chosen_rep;
                }
            }
        }

        var components = {};
        for(var nodeId in rep) {
            if(rep[nodeId] in components) {
                components[rep[nodeId]].push(nodeId);
            } else {
                components[rep[nodeId]] = [nodeId];
            }
        }

        for(var key in components) {
            var comp = components[key];
            var clean=true;
            for(var i=0; i<comp.length; ++i) {
                var node = this.nodes[comp[i]];
                if(node.marked) {
                    clean=false;
                }
            }

            if(clean) {
                for(var i=0; i<comp.length; ++i) {
                    var nodeId = comp[i];
                    delete this.nodes[nodeId];
                }
            }
        }

        var invalidIds = {};
        for(var k=0; k<rnodes.length; ++k) {
            var rkey = rnodes[k];
            var nodeIds = rkey.split("#");
            for(var i=0; i<nodeIds.length; ++i) {
                var nodeId = nodeIds[i];
                if(!(nodeId in this.nodes)) {
                    invalidIds[rkey] = true;
                }
            }
        }
        for(var rnodeId in invalidIds) {
            delete this.nodes[rnodeId];
        }
    },

    draw: function() {

        var group = document.createElementNS("http://www.w3.org/2000/svg","g");
        var $group = $(group);

        for(var key in this.nodes) {
            var node = this.nodes[key];
            var p = node.point;

            if(p !== null) {
                if(this.is_rnode(key)) { // relation node

                    $group.prepend(this.svg_rnode(p.x,p.y));

                    var neighbors = key.split("#");
                    for(var i=0;i<neighbors.length;++i) {
                        var q = this.nodes[neighbors[i]].point;
                        if(q !== null) {
                            var e = this.compute_edge(p.x,p.y,q.x,q.y);
                            if(e !== null) {
                                $group.prepend(this.svg_edge(e[0].x,e[0].y,e[2].x,e[2].y));
                                $group.prepend(this.svg_label(e[1].x,e[1].y,i+1));

                            }
                        }
                    }
                } else { // object node
                    // dirty solution to computing svg label dimensions
                    var $label = this.svg_label(p.x,p.y,key);
                    $("svg > g").append($label);
                    var bbox = $label[0].getBBox();

                    $group.prepend(this.svg_label(p.x,p.y,key));
                    $group.prepend(this.svg_node(p.x,p.y,bbox.width,bbox.height,key,node.marked));

                    for(var key2 in node.corefs) {
                        if(key<key2) {
                            var p2 = this.nodes[key2].point;
                            $group.append(this.svg_link(p.x,p.y,p2.x,p2.y));
                        }
                    }
                }
            }

            for(var prefix in node.def) {
                for(var name in node.def[prefix]) {
                    var q = node.def[prefix][name];
                    if(q !== null) {
                        $group.prepend(this.svg_label(q.x,q.y,name));
                    }
                }
            }
        }
        $("svg > g").replaceWith($group);

    },

    compute_edge: function(rx,ry,x,y) {
        // (dx,dy) = vector from rnode to node
        var dx=x-rx, dy=y-ry;

        // (rx,ry) + s*(dx,dy) = intersection of line with sphere (only for s<1)
        var length = Math.sqrt(Math.pow(dx,2)+Math.pow(dy,2));
        var s = (this.radius<length) ? this.radius/length : 1;

        // (rx,ry) + (1-t)*(dx,dy) = intersection of line with rectangle side (only for t<1)
        var tx=1,ty=1;
        if(Math.abs(dx) > this.ax) { tx = this.ax/Math.abs(dx); }
        if(Math.abs(dy) > this.ay) { ty = this.ay/Math.abs(dy); }
        var t=Math.min(tx,ty);

        // if rnode and node don't overlap, return endpoints of the edge
        if(s<1 && t<1 && s<(1-t)) {
            var m = 0.5*(s+1-t);
            return [new Point(rx+s*dx,ry+s*dy), new Point(rx+m*dx,ry+m*dy), new Point(rx+(1-t)*dx,ry+(1-t)*dy)];
        } else {
            return null;
        }
    },

    svg_node: function(x,y,width,height,id,marked) {
        width += 10;
        height += 10;
        var node = document.createElementNS("http://www.w3.org/2000/svg","rect");
        var $node = $(node).attr({"data-id":id,"x":x-(width/2),"y":y-(height/2),"width":width,"height":height})
                           .on("click",toggle_mark);
        if(marked) {
            $node.addClass("marked");
        }
        return $node;
    },

    svg_label: function(x,y,text) {
        var label = document.createElementNS("http://www.w3.org/2000/svg","text");
        var $label = $(label).attr({"x":x,"y":y,"text-anchor":"middle","dominant-baseline":"central","font-family":"Ubuntu","font-size":"14.00"})
                             .text(text);
        return $label;
    },
/*
    svg_rnode: function(x,y) {
        var rnode = document.createElementNS("http://www.w3.org/2000/svg","rect");
        var $rnode = $(rnode).attr({"x":x-this.ax,"y":y-this.ay,"width":2*this.ax,"height":2*this.ay});
        return $rnode;
    },
*/

    svg_rnode: function(x,y) {
        var rnode = document.createElementNS("http://www.w3.org/2000/svg","circle");
        var $rnode = $(rnode).attr({"cx":x,"cy":y,"r":this.radius});
        return $rnode;
    },


    svg_edge: function(x1,y1,x2,y2) {
        cmd = "M" + x1 + "," + y1 + "L" + x2 + "," + y2;
        var path = document.createElementNS("http://www.w3.org/2000/svg","path");
        var $path = $(path).attr({"fill":"none","stroke":"black","d":cmd});
        return $path;
    },

    svg_link: function(x1,y1,x2,y2) {
        cmd = "M" + x1 + "," + y1 + "L" + x2 + "," + y2;
        var path = document.createElementNS("http://www.w3.org/2000/svg","path");
        var $path = $(path).attr({"fill":"none","stroke":"red","stroke-dasharray":5,"d":cmd});
        return $path;
    },

    toJSON: function() {
        var copy = {};
        for(var nodeId in this.nodes) {
            var node = this.nodes[nodeId];
            var atts = {};
            for(var prefix in node.def) {
                atts[prefix] = Object.keys(node.def[prefix]);
            }

            copy[nodeId] = {'sort':node.sort, 'def':atts, 'marked':node.marked, 'corefs':Object.keys(node.corefs) };
        }
        return copy;
    }
};

graph = null;

function create_node(sortName) {

    if(queue.length>0) { return; }

    var sort = sorts_table.get(id);

    var id = graph.add_node(sortName);
    graph.set_mark(id,true);

    var action = $.Deferred();
    action.done(function(x,y){
        graph.set_pos(id,x,y);
    });

    queue.push(action);
    $('html').css('cursor','copy');
}

function create_rnode(obj,m,role,sort) {

    if(queue.length>0) { return; }

    var nodes = [];
    role = parseInt(role);
    sort = sort.split(",");

    for(var i=0; i<sort.length; ++i) {

        if(i+1 !== role) {
            var nodeId = graph.add_node(sort[i]);
            nodes.push(nodeId);
            var action = $.Deferred();
            action.done(function(j){
                return function(x,y) {
                    graph.set_pos(j,x,y);
                }
            }(nodeId));
            queue.push(action);

        } else {
            nodes.push(obj);
        }
    }

    var relId = graph.add_rnode(nodes,m);

    var action = $.Deferred();
    action.done(function(rx,ry){
        graph.set_pos(relId,rx,ry);
        graph.set_apos(relId,m,rx,ry-graph.ay-7);

    });
    queue.unshift(action);

    $('html').css('cursor','copy');
}

function toggle_attribute(nodeId,m,grp) {

    if(queue.length>0) { return; }

    if(grp === "all" || grp === "some") {
        graph.add_attribute(nodeId,m);

        var action = $.Deferred();
        action.done(function(x,y) {
            graph.set_apos(nodeId,m,x,y);
        });

        queue.push(action);
        $('html').css('cursor','copy');

    } else if(grp === "def") {
        graph.remove_attribute(nodeId,m);
        graph.draw();
        solve(bindings_view.selectId);
    }
}

function toggle_mark() {
    if(queue.length>0) { return; }

    var $this = $(this);
    var nodeId = $this.data("id");
    var marked = graph.is_marked(nodeId);
    graph.set_mark(nodeId,!marked);
    graph.draw();
    solve(bindings_view.selectId);

}

function toggle_coreference(nodeId1,nodeId2,grp) {
    if(queue.length>0) { return; }

    if(grp === "all" || grp === "some") {
        graph.add_coreference(nodeId1,nodeId2);

    } else if(grp === "def") {
        graph.remove_coreference(nodeId1,nodeId2);
    }
    graph.draw();
    solve(bindings_view.selectId);

}

function init_page1() {

    if(scales_view.selectId === null) {
        if(scales_table.items.length) {
            select_scale(scales_table.items[0].id);
        }
    } else {
        scales_view.render();
        attributes_view.render();
    }
}

function init_page2() {

    if(bindings_view.selectId === null) {

        scales_view_2.render();
        if(bindings_table.items.length) {
            select_binding(bindings_table.items[0].id);
        }

    } else {
        bindings_view.render();
        scales_view_2.render();
        sorts_view.render();
        columns_view.render();
        bound_scales_view.render();
    }

}

function init_page3() {

    // render dropdown
    var source = $("script#dropdown_template").html();
    var choice = "<empty>";
    if(bindings_view.selectId === null) {
        if(bindings_table.items.length) {
            bindings_view.selectId = bindings_table.items[0].id;
        }
    }

    if(bindings_view.selectId !== null) {
        choice = bindings_table.get(bindings_view.selectId).name
        select_binding(bindings_view.selectId).done(function(){

            // set sorts
            var source2 = $("script#options_template").html();
            var context2 = {"sorts":sorts_table.items};
            var $sortsView = $(nunjucks.renderString(source2,context2));
            $("#sortsView").replaceWith($sortsView);
        });
    }

    var context = {
        "choice": choice,
        "items": bindings_table.items,
    }

    var $dropdown = $(nunjucks.renderString(source,context));
    $("#dropdown").replaceWith($dropdown);
}

function List(urls) {
    this.items = [];
    this.urls = urls;
}

List.prototype = {

    empty: function() {
        this.items = [];
    },

    create: function(obj,backref) {

        var args = (typeof backref !== 'undefined') ? [obj,backref] : [obj];

        var that = this;
        return $.ajax({
            url: this.urls["create"],
            type: "POST",
            data: JSON.stringify(args),
            contentType: "application/json",
        }).done(function(insertId,status,jqxhr) {
            obj.id = insertId;
            that.items.push(obj);
        });
    },

    load: function(params) {
        var that = this;
        return $.ajax({
            url: this.urls["read"],
            data: params,
            dataType: "json",
        }).done(function(items,status,jqxhr) {
            that.items = items;
        });
    },

    update: function(obj,backref) {

        var args = (typeof backref !== 'undefined') ? [obj,backref] : [obj];

        var that = this;
        return $.ajax({
            url: this.urls["update"],
            type: "POST",
            data: JSON.stringify(args),
            contentType: "application/json",
        }).done(function(updateId,status,jqxhr) {
            for(var i=0;i<that.items.length;++i) {
                if(that.items[i].id === updateId) {
                    that.items[i] = obj;
                    break;
                }
            }
        });
    },

    del: function(id) {
        var that = this;
        return $.ajax({
            url: this.urls["delete"],
            type: "POST",
            data: JSON.stringify([id]),
            contentType: "application/json",
        }).done(function(deleteId,status,jqxhr) {
            for(var i=0;i<that.items.length;++i) {
                if(that.items[i].id === deleteId) {
                    that.items.splice(i,1);
                    break;
                }
            }
        });
    },

    get: function(id) {
        for(var i=0;i<this.items.length;++i) {
            if(this.items[i].id === id) {
                return this.items[i];
            }
        }

        return undefined;
    }
}

function Scale(id,name,arity) {
    this.id = id;
    this.name = name;
    this.arity = arity;
}

function Attribute(id,name,sqldef) {
    this.id = id;
    this.name = name;
    this.sqldef = sqldef;
}

function ContextFamily(id,name,host,database) {
    this.id = id;
    this.name = name;
    this.host = host;
    this.database = database;
}

function Sort(id,name,output) {
    this.id = id;
    this.name = name;
    this.output = output;
}

function SQLColumn(id,name,sqltype) {
    this.id = id;
    this.name = name;
    this.sqltype = sqltype;
}

function BoundScale(id,scale,args) {
    this.id = id;
    this.scale = scale;
    this.args = args;
}

function BoundScalesList(urls) {
    this.items = [];
    this.urls = urls;
}

BoundScalesList.prototype = {

    empty: function() {
        this.items = [];
    },

    create: function(obj,backref) {
        var that = this;
        return $.ajax({
            url: this.urls["create"],
            type: "POST",
            data: JSON.stringify([obj,backref]),
            contentType: "application/json",
        }).done(function(insertId,status,jqxhr) {
            obj.id = insertId;
            that.items.push(obj);
        });
    },

    load: function(params) {
        var that = this;
        return $.ajax({
            url: this.urls["read"],
            data: params,
            dataType: "json",
        }).done(function(items,status,jqxhr){
            that.items = items;
        });
    },

    del: function(id) {
        var that = this;
        return $.ajax({
            url: this.urls["delete"],
            type: "POST",
            data: JSON.stringify([id]),
            contentType: "application/json",
        }).done(function(deleteId,status,jqxhr) {
            for(var i=0;i<that.items.length;++i) {
                if(that.items[i].id === deleteId) {
                    that.items.splice(i,1);
                    break;
                }
            }
        });
    },
}

scales_table = new List({
                             "create": abspath("create_scale"),
                             "read": abspath("read_scales"),
                             "update": abspath("update_scale"),
                             "delete": abspath("delete_scale"),
                         });
attributes_table = new List({
                                 "create": abspath("create_attribute"),
                                 "read": abspath("read_attributes"),
                                 "update": abspath("update_attribute"),
                                 "delete": abspath("delete_attribute"),
                             });
bindings_table = new List({
                               "create": abspath("create_binding"),
                               "read": abspath("read_bindings"),
                               "update": abspath("update_binding"),
                               "delete": abspath("delete_binding"),
                           });
sorts_table = new List({
                             "read": abspath("read_sorts"),
                             "update": abspath("update_sort"),
                        });
columns_table = new List({ "read": abspath("table_columns"), });

bound_scales = new BoundScalesList({
                                        "create": abspath("create_bound_scale"),
                                        "read": abspath("read_bound_scales"),
                                        "delete": abspath("delete_bound_scale"),
                                   });

function BoundScalesView(header,model,root) {
    this.header = header;
    this.model = model;
    this.root = root;
    this.proto = null;
}

BoundScalesView.prototype = {

    render: function() {
        var source = $("script#table_box").html();
        var $root = $("#"+this.root);
        $root.empty();

        if(this.proto !== null) {
            var context = {"id":this.proto.id, "title":this.proto.scale.name,"header":this.header,"args":this.proto.args,"edit_mode":true};
            var $box = $(nunjucks.renderString(source,context));
            $root.append($box);
        }

        for(var i=0;i<this.model.items.length;++i) {
            var bs = this.model.items[i];
            var context = {"id":bs.id, "title":bs.scale.name,"header":this.header,"args":bs.args,"edit_mode":false};
            var $box = $(nunjucks.renderString(source,context));
            $root.append($box);
        }

    }
}

function Column(field,name,width) {
    this.field = field;
    this.name = name;
    this.width = width;
}

function TableView(title,header,model,root,row_action,actions) {
    this.title = title;
    this.header = header;
    this.model = model;
    this.row_action = row_action;
    this.actions = actions;
    this.root = root;
    this.template = "table_template";
    this.selectId = null;
    this.proto = null;
}

TableView.prototype = {

    render: function() {

        var source = $("script#table_template").html();
        var context = {
                           "title":this.title,
                           "header":this.header,
                           "items":this.model.items,
                           "proto":this.proto,
                           "select_id":this.proto ? null : this.selectId,
                           "row_action":this.proto ? null : this.row_action,
                           "actions":this.actions,
                      };
        var $box = $(nunjucks.renderString(source,context));

        $("#"+this.root).empty().append($box);
        $box.find('.td[contenteditable="true"]:first').focus();

    },
}

var scales_header = [ new Column("name","Name","200px"), new Column("arity","Arity","100px") ];
var attributes_header = [ new Column("name","Attribute","100px"), new Column("sqldef","SQL Definition","400px") ];
var bindings_header = [ new Column("name","Name","100px"), new Column("host","Host","100px"), new Column("database","Database","100px") ];
var sorts_header = [ new Column("name","Table","125px"), new Column("output","Output","225px") ];
var columns_header = [ new Column("name","Column","150px"), new Column("sqltype","Type","150px") ];

scales_view = new TableView("Conceptual Scales",scales_header,scales_table,"scales","select_scale",[
        { "name":"new_scale", "text":"new", "action":new_scale },
        { "name":"edit_scale", "text":"edit/save", "action":edit_scale },
        { "name":"delete_scale", "text":"delete", "action":delete_scale },
    ]);
scales_view_2 = new TableView("Conceptual Scales",scales_header,scales_table,"scales_2","select_scale_2",[]);

attributes_view = new TableView("Attributes",attributes_header,attributes_table,"attributes","select_attribute",[
        { "name":"new_attribute", "text":"new", "action":new_attribute },
        { "name":"edit_attribute", "text":"edit/save", "action":edit_attribute },
        { "name":"delete_attribute", "text":"delete", "action":delete_attribute },
    ]);

bindings_view = new TableView("Context Families",bindings_header,bindings_table,"bindings","select_binding",[
        { "name":"new_binding", "text":"new", "action":new_binding },
        { "name":"edit_binding", "text":"edit/save", "action":edit_binding },
        { "name":"delete_binding", "text":"delete", "action":delete_binding },
    ]);

sorts_view = new TableView("Database: Tables",sorts_header,sorts_table,"sorts","select_sort",[
        { "name":"edit_sort", "text":"edit/save", "action":edit_sort },
    ]);

columns_view = new TableView("Columns",columns_header,columns_table,"columns","select_column",[
        { "name":"set_output", "text":"output", "action":set_output },
        { "name":"bind_0", "text":"bind-0", "action":bind_0 },
        { "name":"bind_1", "text":"bind-1", "action":bind_1 },
    ]);

var bound_scales_header = [{"name":"Parameter","width":"100px"}, {"name":"Column","width":"200px"}]
bound_scales_view = new BoundScalesView(bound_scales_header,bound_scales,"bound_scales");

function select_scale(id) {
    id = parseInt(id);
    attributes_table.load({"id":id})
                    .done(function() {
                              scales_view.selectId = id;
                              scales_view.render();
                              attributes_view.selectId = null;
                              attributes_view.render();
                          });

}

function select_attribute(id) {
    id = parseInt(id);
    attributes_view.selectId = id;
    attributes_view.render();
}

function select_binding(id) {
    id = parseInt(id);
    return $.when(
        sorts_table.load({"id":id}),
        bound_scales.load({"id":id})
    ).done(function() {
        bindings_view.selectId = id;
        bindings_view.render();
        bound_scales_view.proto = null;
        bound_scales_view.render();
        scales_view_2.selectId = null;
        scales_view_2.render();
        if(sorts_table.items.length) {
            select_sort(sorts_table.items[0].id);
        } else {
            sorts_view.render();
            columns_table.empty();
            columns_view.render();
        }
    });
}

function select_sort(id) {
    columns_table.load({ "bindingId":bindings_view.selectId,
                         "table":id, })
                 .done(function() {
                      sorts_view.selectId = id;
                      sorts_view.render();
                      columns_view.selectId = null;
                      columns_view.render();
                  });
}

function select_column(id) {
    columns_view.selectId = id;
    columns_view.render();
}

function new_scale() {

    scales_view.selectId = null;
    scales_view.proto = new Scale("","","");
    scales_view.render();
    attributes_table.empty();
    attributes_view.selectId = null;
    attributes_view.proto = null;
    attributes_view.render();
}

function new_attribute() {

    attributes_view.selectId = null;
    attributes_view.proto = new Attribute("","","");
    attributes_view.render();
}

function new_binding() {

    bindings_view.selectId = null;
    bindings_view.proto = new ContextFamily("","","","");
    bindings_view.render();
    sorts_table.empty();
    sorts_view.selectId = null;
    sorts_view.proto = null;
    sorts_view.render();
    columns_table.empty();
    columns_view.selectId = null;
    columns_view.proto = null;
    columns_view.render();
    bound_scales.empty();
    bound_scales_view.proto = null;
    bound_scales_view.render();
    scales_view_2.selectId = null;
    scales_view_2.render();
}

function edit_scale() {

    if(scales_view.proto === null) {
        if(scales_view.selectId !== null) {
            var obj = scales_table.get(scales_view.selectId);
            scales_view.proto = new Scale(obj.id,obj.name,obj.arity);
            scales_view.render();
        }

    } else {
        var $tr = $("#"+scales_view.root).find(".tr.buffer");
        $tr.find(".td").each(function(i,td) {
            scales_view.proto[scales_view.header[i].field] = $(td).text().trim();
        });

        if(scales_view.proto.id === "") {
            scales_table.create(scales_view.proto)
                        .done(function(insertId,status,jqxhr) {
                             scales_view.proto = null;
                             scales_view.selectId = insertId;
                             scales_view.render();
                         });
        } else {
            scales_table.update(scales_view.proto)
                        .done(function(updateId,status,jqxhr) {
                             scales_view.proto = null;
                             scales_view.selectId = updateId;
                             scales_view.render();
                         });
        }

    }
}

function edit_attribute() {

    if(attributes_view.proto === null) {
        if(attributes_view.selectId !== null) {
            var obj = attributes_table.get(attributes_view.selectId);
            attributes_view.proto = new Attribute(obj.id,obj.name,obj.sqldef);
            attributes_view.render();
        }

    } else {
        var $tr = $("#"+attributes_view.root).find(".tr.buffer");
        $tr.find(".td").each(function(i,td) {
            attributes_view.proto[attributes_view.header[i].field] = $(td).text().trim();
        });

        if(attributes_view.proto.id === "") {
            attributes_table.create(attributes_view.proto,scales_view.selectId)
                            .done(function(insertId,status,jqxhr) {
                                 attributes_view.proto = null;
                                 attributes_view.selectId = insertId;
                                 attributes_view.render();
                             });
        } else {
            attributes_table.update(attributes_view.proto)
                            .done(function(updateId,status,jqxhr) {
                                 attributes_view.proto = null;
                                 attributes_view.selectId = updateId;
                                 attributes_view.render();
                             });
        }

    }
}

function edit_binding() {

    if(bindings_view.proto === null) {
        if(bindings_view.selectId !== null) {
            var obj = bindings_table.get(bindings_view.selectId);
            bindings_view.proto = new ContextFamily(obj.id,obj.name,obj.host,obj.database);
            bindings_view.render();
        }

    } else {
        var $tr = $("#"+bindings_view.root).find(".tr.buffer");
        $tr.find(".td").each(function(i,td) {
            bindings_view.proto[bindings_view.header[i].field] = $(td).text().trim();
        });

        if(bindings_view.proto.id === "") {
            bindings_table.create(bindings_view.proto)
                          .done(function(insertId,status,jqxhr) {
                               bindings_view.proto = null;
                               bindings_view.selectId = insertId;
                               bindings_view.render();
                           });
        } else {
            bindings_table.update(bindings_view.proto)
                          .done(function(updateId,status,jqxhr) {
                               bindings_view.proto = null;
                               bindings_view.selectId = updateId;
                               bindings_view.render();
                           });
        }
    }
}

function edit_sort() {

    if(sorts_view.proto === null) {
        if(sorts_view.selectId !== null) {
            var obj = sorts_table.get(sorts_view.selectId);
            sorts_view.proto = new Sort(obj.id,obj.name,obj.output);
            sorts_view.render();
        }

    } else {
        var $tr = $("#"+sorts_view.root).find(".tr.buffer");
        $tr.find(".td").each(function(i,td) {
            sorts_view.proto[sorts_view.header[i].field] = $(td).text().trim();
        });

        sorts_table.update(sorts_view.proto,bindings_view.selectId)
                   .done(function(updateId,status,jqxhr) {
                        sorts_view.proto = null;
                        sorts_view.selectId = updateId;
                        sorts_view.render();
                    });
    }
}

function delete_scale() {

    if(scales_view.selectId !== null) {
        scales_table.del(scales_view.selectId)
                    .done(function() {
                              scales_view.selectId = null;
                              attributes_table.empty();
                              scales_view.render();
                              attributes_view.render();
                          });
    }
}

function delete_attribute() {

    if(attributes_view.selectId !== null) {
        attributes_table.del(attributes_view.selectId)
                        .done(function() {
                             attributes_view.selectId = null;
                             attributes_view.render();
                         });
    }
}

function delete_binding() {

    if(bindings_view.selectId !== null) {
        bindings_table.del(bindings_view.selectId)
                      .done(function() {
                           bindings_view.selectId = null;
                           bindings_view.proto = null;
                           bindings_view.render();
                           sorts_table.empty();
                           sorts_view.selectId = null;
                           sorts_view.proto = null;
                           sorts_view.render();
                           columns_table.empty();
                           columns_view.selectId = null;
                           columns_view.proto = null;
                           columns_view.render();
                           bound_scales.empty();
                           bound_scales_view.proto = null;
                           bound_scales_view.render();
                           scales_view_2.selectId = null;
                           scales_view_2.render();
                       });
    }
}

function delete_bound_scale(id) {
    id = parseInt(id);
    bound_scales.del(id)
                .done(function(){
                     bound_scales_view.render();
                 });
}

function set_output() {

    if(columns_view.selectId !== null) {
        var column = columns_table.get(columns_view.selectId);
        var sort = sorts_table.get(sorts_view.selectId);
        sorts_view.proto = new Sort(sort.id,sort.name,"{0}."+column.name);

        sorts_table.update(sorts_view.proto,bindings_view.selectId)
                   .done(function(updateId,status,jqxhr) {
                        sorts_view.proto = null;
                        sorts_view.selectId = updateId;
                        sorts_view.render();
                    });
    }
}

function bind_0() {

    var bindingId = bindings_view.selectId;
    var table = sorts_view.selectId;
    var column = columns_view.selectId;
    var bs = bound_scales_view.proto;

    var save = true;
    if(column !== null && bs !== null) {
        for(var i=0;i<bs.args.length;++i) {
            var pair = bs.args[i];
            if(pair[0] === 0) {
                pair[1] = table + "." + column;
            }
            if(pair[1].trim() === "") {
                var save = false;
            }
        }
    }

    if(save === false) {
        bound_scales_view.render();
    } else {
        bound_scales.create(bs,bindingId)
                    .done(function() {
                         bound_scales_view.proto = null;
                         bound_scales_view.render();
                     });
    }
}

function bind_1() {

    var bindingId = bindings_view.selectId;
    var table = sorts_view.selectId;
    var column = columns_view.selectId;
    var bs = bound_scales_view.proto;

    var save = true;
    if(column !== null && bs !== null) {
        for(var i=0;i<bs.args.length;++i) {
            var pair = bs.args[i];
            if(pair[0] === 1) {
                pair[1] = table + "." + column;
            }
            if(pair[1].trim() === "") {
                var save = false;
            }
        }
    }

    if(save === false) {
        bound_scales_view.render();
    } else {
        bound_scales.create(bs,bindingId)
                    .done(function() {
                         bound_scales_view.proto = null;
                         bound_scales_view.render();
                     });
    }
}

function select_scale_2(id) {
    id = parseInt(id);
    if(bindings_view.selectId === null) {
        return;
    }

    if(scales_view_2.selectId === id) {
        scales_view_2.selectId = null;
        bound_scales_view.proto = null;

    } else {
        scales_view_2.selectId = id;
        var scale = scales_table.get(id);
        var args = [];
        for(var i=0;i<scale.arity;++i) {
            args.push([i,""]);
        }

        bound_scales_view.proto = new BoundScale("",scale,args);

    }

    scales_view_2.render();
    bound_scales_view.render();
}

function solve(bindingId) {
    $.ajax({
        url: abspath("solve"),
        type: "POST",
        data: JSON.stringify([ graph, bindingId ]),
        contentType: "application/json",
        dataType: "json",
    }).done(function(data,status,jqxhr){
        var header = data["header"];
        var result = data["result"];
        var options = data["options"];
        var equalities = data["equalities"];

        header = $.map(header,function(name) {
            return new Column(name,name,"300px");
        });

        var items = []
        for(var i=0;i<result.length;++i) {
            var item = {"id":null};
            for(var j=0;j<header.length;++j) {
                item[header[j].field] = result[i][j];
            }
            items.push(item);
        }

        var source = $("script#result_template").html();
        var context = {
            "header": header,
            "items": items,
        };
        var $table = $(nunjucks.renderString(source,context));
        $("#resultTable").replaceWith($table);

        options2 = {};
        for(var key in options) {
            if(!(key.includes("#"))) {
                options2[key] = options[key];
            }
        }
        for(var key in options) {
            if(key.includes("#")) {
                var tmp = key.split("#");
                key2 = "("+tmp[0]+","+tmp[1]+")";
                options2[key2] = options[key];
            }
        }

        var source2 = $("script#options_template3").html();
        var context2 = {
            "nodes": options2,
            "equalities": equalities,
        };

        var $optionsView = $(nunjucks.renderString(source2,context2));

        /*
        var $optionsView = $("<div>").attr("id","optionsView");
        $.each(options,function(nodeId,nodeOpts) {
            var details = $("<details>").addClass("nodeContext").prop("open",true);
            $("<summary>").text(nodeId).appendTo(details);
            $.each(nodeOpts,function(prefix,scaleOpts) {
                var div = $("<div>").addClass("options");
                $("<span>").addClass("label")
                           .text(prefix+": ")
                           .appendTo(div);
                $.each(scaleOpts,function(index,entry) {
                    if(entry.hasOwnProperty("pos")) { // role attribute
                        $("<button>").addClass("role")
                                     .addClass("option")
                                     .addClass(entry["grp"])
                                     .text(entry["name"]+"["+entry["pos"]+"]")
                                     .attr("data-obj",nodeId)
                                     .attr("data-attr",prefix+":"+entry["name"])
                                     .attr("data-role",entry["pos"])
                                     .attr("data-sort",JSON.stringify(entry["sort"]))
                                     .on("click",create_rnode)
                                     .appendTo(div);
                    } else {
                        $("<button>").addClass("attribute")
                                     .addClass("option")
                                     .addClass(entry["grp"])
                                     .text(entry["name"])
                                     .attr("data-obj",nodeId)
                                     .attr("data-attr",prefix+":"+entry["name"])
                                     .on("click",toggle_attribute)
                                     .appendTo(div);
                    }
                });
                details.append(div);
            });
            $optionsView.append(details);
        });

        var details = $("<details>").addClass("nodeContext").prop("open",true);
        $("<summary>").text("Equalities").appendTo(details);
        var div = $("<div>").addClass("options");
        $.each(equalities,function(index,eq) {
            $("<button>").addClass("equality")
                         .addClass("option")
                         .addClass(eq["grp"])
                         .attr("data-lhs",eq["lhs"])
                         .attr("data-rhs",eq["rhs"])
                         .text(eq["lhs"]+"="+eq["rhs"])
                         .on("click",toggle_coreference)
                         .appendTo(div);
        });
        details.append(div);
        $optionsView.append(details);
        */

        $("#optionsView").replaceWith($optionsView);
    });
}

function place_node(e) {

    if(queue.length > 0) {

        var $this = $(this);
        var $node = queue.shift();

        var x = e.pageX - $this.offset().left;
        var y = e.pageY - $this.offset().top;

        $node.resolve(x,y);
        graph.draw();

        if(queue.length == 0) {
            $('html').css('cursor','default');
            solve(bindings_view.selectId);
        }
    }

}

function set_content(e) {
    var $this = $(this);
    var page = $this.data("content");

    var html = $("template#"+page).html();
    $("main").replaceWith($(html));

    if(page === "page1") {
        queue = [];
        graph = null;
        $("#dropdown").replaceWith($("<div>").attr("id","dropdown"));
        init_page1();
    } else if(page === "page2") {
        queue = [];
        graph = null;
        $("#dropdown").replaceWith($("<div>").attr("id","dropdown"));
        init_page2();
    } else if(page === "page3") {
        queue = [];
        graph = new Graph();
        init_page3();
        $(".js-place_node").on("click",place_node);
    }

    $("a.nav").removeClass("selected");
    $("#"+"ref_"+page).addClass("selected");

}

$(document).ready(function(){

    scrollbar_width = getScrollBarWidth();
    $.when(
        scales_table.load({}),
        bindings_table.load({})
    ).done(function(){
        $("a.nav").on("click",set_content);
        $("#ref_page3").trigger("click");
    });

});

</script>
</head>
<body class="vbox" style="height:100vh;margin:0px;">
    <header style="display:flex;background:black;">
        <a id="ref_page1" class="nav" data-content="page1">Scales</a>
        <a id="ref_page2" class="nav" data-content="page2">ContextFamilies</a>
        <a id="ref_page3" class="nav" data-content="page3">Navigation</a>
        <div style="flex-grow:1"></div>
        <div id="dropdown"></div>
    </header>
    <template id="page1">
        <main class="hbox" style="flex-grow:1;">
            <div id="scales" class="window" style="flex-basis:50%;"></div>
            <div id="attributes" class="window" style="flex-basis:50%;"></div>
        </main>
    </template>
    <template id="page2">
        <main class="hbox" style="flex-grow:1;">
            <div class="vbox" style="flex-basis:33%;">
                <div id="bindings" class="window" style="flex-basis:50%;"></div>
                <div id="scales_2" class="window" style="flex-basis:50%;"></div>
            </div>
            <div class="vbox" style="flex-basis:34%;">
                <div id="sorts" class="window" style="flex-basis:50%;"></div>
                <div id="columns" class="window" style="flex-basis:50%;"></div>
            </div>
            <div class="window" style="flex-basis:33%;">
                <div class="titlebar">
                    <div class="title">Bound Scales</div>
                </div>
                <div id="bound_scales" class="content"></div>
            </div>
        </main>
    </template>
    <template id="page3">
        <main class="vbox" style="flex-basis:100%;">
            <div class="hbox" style="flex-basis:50%;">
                <div class="window" style="flex-basis:25%;">
                    <div class="titlebar">
                        <div class="title">Options</div>
                    </div>
                    <div class="content">
                        <div id="sortsView"></div>
                        <div id="optionsView"></div>
                    </div>
                </div>
                <div class="window" style="flex-basis:75%;">
                    <div class="titlebar">
                        <div class="title">Graph</div>
                    </div>
                    <svg class="canvas js-place_node">
                        <g></g>
                    </svg>
                </div>
            </div>
            <div class="window" style="flex-basis:50%;">
                <div class="titlebar">
                    <div class="title">Result</div>
                </div>
                <div class="content">
                    <table id="resultTable"></table>
                <div>
            </div>
        </main>
    </template>
    <template id="page4">
        <main class="hbox">
            <svg class="content js-place_node" style="flex-basis:100%;background:white;">
                <g></g>
            </svg>
        </main>
    </template>
    <template id="page5">
        <main class="hbox"></main>
    </template>
    <template id="page6">
        <main class="hbox"></main>
    </template>
    <main style="flex-grow:1;">
    </main>
</body>
</html>
